<div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <input class="form-control" type="{{ field.type }}" id="{{ field.name }}" name="{{ field.name }}" value="{{ value|default:'' }}">
    {% if field.errors %}
    <span class="error-block">
        <ul>
            {% for error in field.errors %}
            <li>
                <p>
                    {{ error }}
                </p>
            </li>
            {% endfor %}
        </ul>
    </span>
    {% endif %}
</div>