<form class="forms-stacked" action method="{{ method }}">
    {% if csrf %}
        {% csrf_token %}
    {% endif %}
    {% if form.non_field_errors %}
    <span class="error-block">
        <ul>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </span>
    {% endif %}
    {% for field in form %}
        {% include 'partials/field.html' with field=field %}
    {% endfor %}
    <button class="btn btn-primary " type="submit">Отправить</button>
</form>