<nav class="navbar navbar-light bg-faded">
    {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <a class="navbar-brand" href="{% url 'login' %}">Войти</a>
    {% endif %}
</nav>