{% extends 'base.html' %}

{% block content %}
    <h1>logs</h1>

    {% include 'partials/form.html' with form=filter.form %}
    <hr>
     <table class="table table-bordered">
         <thead>
            <tr>
                <th>ID</th>
                <th>remote_ip</th>
                <th>local_ip</th>
                <th>time_received</th>
            </tr>
         </thead>
         <tbody>
             {% for log in logs %}
                <tr>
                    <td>{{ log.id }}</td>
                    <td>{{ log.remote_ip }}</td>
                    <td>{{ log.local_ip }}</td>
                    <td>{{ log.time_received }}</td>
                </tr>
             {% endfor %}
         </tbody>
     </table>
{% endblock %}